.*
_*
*.py
*.txt
!main.py
!athany.py
!translator.py
!elements.py
!modifiedpt.py
!requirements.txt
!available_athans.txt
src/Data/*.json
src/Data/Athans/*
!src/Data/Athans/Abdul-Basit_(Takbeer_only).mp3